.botao{
    background-color: #968d78;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 16px 0;
}

.botao:hover{
    background-color: #817A68;
}